In [ ]:
#import dependencies
from bs4 import BeautifulSoup
from splinter import Browser
from pprint import pprint
import pandas as pd
import pymongo
import requests

## NASA Mars News

In [ ]:
#define browser
executable_path = {'executable_path':'C:\\chromedriver_win32\\chromedriver.exe' }
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [ ]:
# This code need to be the final one


html = browser.html
#parse HTML with Beautiful soup
soup = BeautifulSoup(html, 'html.parser')


abc=soup.select_one("ul.item_list li.slide")
news_title = abc.find('div', class_='content_title').get_text()
# print(news_title)
print('news_title=',news_title)

news_p= abc.find('div',class_ ='article_teaser_body').get_text()
# print(news_p)
print('news_p=', news_p)

In [ ]:
#close the browser
browser.quit()

### Jpl Mars Space Images-Featured Images

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path':'C:\\chromedriver_win32\\chromedriver.exe' }
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [4]:
html = browser.html

soup = BeautifulSoup(html, 'html.parser')

browser.find_by_id("full_image").click()

In [5]:
#find more info button and click that
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

html = browser.html

soup = BeautifulSoup(html, 'html.parser')
# time.sleep(6)
#find the image url
img_url = soup.select_one('figure.lede a img').get('src')
print(img_url)
Featured_image_url = f'https://www.jpl.nasa.gov/{img_url}'
   
Featured_image_url
#

/spaceimages/images/largesize/PIA14884_hires.jpg

'https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA14884_hires.jpg'

In [ ]:
# html = browser.html

# soup = BeautifulSoup(html, 'html.parser')
# img_url=soup.find('div', id='fancybox-lock').find('img')['src']
# print(img_url)
# Featured_image_url=f'https://www.jpl.nasa.gov/{img_url}'
# Featured_image_url

In [ ]:
#close the browser
browser.quit()

###  Mars Facts

In [1]:
import pandas as pd

In [2]:
url ='https://space-facts.com/mars/'

In [3]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [5]:
df.columns = ['Diameter', 'units']
# df1=df.set_index('Diameter',inplace =True)
df

               Diameter                          units
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
df=df.set_index('Diameter')
df

                                              units
Diameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [7]:
#data frame as Html


html_table = df.to_html()
html_table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>units</th>    </tr>    <tr>      <th>Diameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [8]:
df.to_html('table.html')

In [10]:
# browser.quit()

NameError: name 'browser' is not defined

## Mars Hemispheres

In [ ]:
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [ ]:
executable_path = {'executable_path':'C:\\chromedriver_win32\\chromedriver.exe' }
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [ ]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [ ]:
browser.find_by_tag('h3').click()

In [ ]:
html = browser.html
soup = bs(html, "html.parser")

images=soup.find('img',class_='wide-image')['src']
images

In [ ]:
hemisphere_images_url=[]

for x in range(4):
    browser.find_by_tag('h3')[x].click()
    
    html = browser.html
    soup = bs(html, "html.parser")

    images=soup.find('img',class_='wide-image')['src']
    image_url=f'https://astrogeology.usgs.gov/{images}'

    title=soup.find('h2').text
    browser.back()
    hemisphere_images_url.append({"title": title, "img_url":image_url })


hemisphere_images_url

In [ ]:
browser.quit()